@charset "UTF-8";
/* CSS Document */
body, html{
	height:100%;
}
.content{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: purple;
	height: 100%;
	background-color: grey;
	font-size: 12px;
	
}

.parallax{
	background-image: url("happyweed.jpg");
	height:60%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
	
}

.parallax2{
	background-image: url("happyweed_2.png");
	height:50%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}